<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="static/js/echarts.min.js"></script>
  <title>学生参与度分析系统</title>
  <!-- base:css -->

  <link rel="stylesheet" href="static/css/typicons.css">
  <link rel="stylesheet" href="static/css/my-card-style.css">

  <link rel="stylesheet" href="static/css/my-greatcard-style.css">

  <link rel="stylesheet" href="static/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="static/css/select2.min.css">
  <link rel="stylesheet" href="static/css/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="static/css/style.css">
  <!-- endinject -->

</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="/"><img src="static/picture/logo.svg" alt="logo"></a>
          <a class="navbar-brand brand-logo-mini" href="/"><img src="static/picture/logo-mini.svg" alt="logo"></a>
          <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <ul class="navbar-nav mr-lg-2">
            <li class="nav-item  d-none d-lg-flex">
              <a class="nav-link active" href="#">
                2021级计科4班
              </a>
            </li>
          </ul>


          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item d-none d-lg-flex  mr-2">
              <a class="nav-link" href="#">
                帮助
              </a>
            </li>

            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle  pl-0 pr-0" href="#" data-toggle="dropdown" id="profileDropdown">
                <i class="typcn typcn-user-outline mr-0"></i>
                <span class="nav-profile-name">安恒宇</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item">
                <i class="typcn typcn-cog text-primary"></i>
                个人信息
                </a>
                <a class="dropdown-item">
                <i class="typcn typcn-power text-primary"></i>
                退出
                </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close typcn typcn-delete-outline"></i>
            <p class="settings-heading">模式</p>
            <div class="sidebar-bg-options" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>
              Light
            </div>
            <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>
              Dark
            </div>
            <p class="settings-heading mt-2">导航栏色彩</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles primary"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default border"></div>
            </div>
          </div>
        </div>
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->

      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <div class="d-flex sidebar-profile">
              <div class="sidebar-profile-image">
                <img src="https://cdn.luogu.com.cn/upload/image_hosting/ha2lbnfe.png" alt="image">

                <span class="sidebar-status-indicator"></span>
              </div>
              <div class="sidebar-profile-name">
                <p class="sidebar-name">
                  安恒宇  老师
                </p>
                <p class="sidebar-designation">
                  Welcome
                </p>

              </div>
            </div>


          </li>
          <li class="nav-item">
            <!--这里根据重定向写一下新的页面-->
            <a class="nav-link" href="/">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">首页 </span>

            </a>
          </li>
          <li class="nav-item">
            <!--这里根据重定向写一下新的页面-->
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="typcn typcn-briefcase menu-icon"></i>
              <span class="menu-title">历史数据</span>
              <i class="typcn typcn-chevron-right menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <!--这里根据重定向写一下新的页面-->
                <li class="nav-item"> <a class="nav-link" href="/button">2022年上半学年</a></li>
                <li class="nav-item"> <a class="nav-link" href="/feb">2022年下半学年</a></li>
                <li class="nav-item"> <a class="nav-link" href="/Mar">2023年上半学年</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="typcn typcn-film menu-icon"></i>
              <span class="menu-title">班级管理</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/class1">一班</a></li>
                <li class="nav-item"><a class="nav-link" href="/class2">二班</a></li>
                <li class="nav-item"><a class="nav-link" href="/class3">三班</a></li>
                <li class="nav-item"><a class="nav-link" href="/class4">四班</a></li>
              </ul>
            </div>
          </li>

        <!--</ul>
        说点什么以及日历
        <ul class="sidebar-legend">
          <li>
            <p class="sidebar-menu-title">Category</p>
          </li>
          <li class="nav-item"><a href="#" class="nav-link">#Sales</a></li>
          <li class="nav-item"><a href="#" class="nav-link">#Marketing</a></li>
          <li class="nav-item"><a href="#" class="nav-link">#Growth</a></li>
        </ul>-->
          <!--<div id="calendar">
          <iframe src="https://www.example.com/calendar?your-params" style="border: 0" width="250" height="250" frameborder="0" scrolling="no"></iframe>
          </div>-->

      </nav>


      <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">


            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">学生信息</h4>
                  <p class="card-description">
                    <!--Add class <code>.table-striped</code>-->
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            学号
                          </th>
                          <th>
                            姓名
                          </th>
                          <th>
                            平均专注度
                          </th>
                          <th>
                            成绩
                          </th>
                          <th>
                            专注比例
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="py-1">
                            202111070401
                          </td>
                          <td>
                            学生1
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td>
                            85
                          </td>
                          <td>
                            85%
                          </td>
                        </tr>
                        <tr>
                          <td class="py-1">
                            202111070402
                          </td>
                          <td>
                            学生2
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td>
                            90
                          </td>
                          <td>
                            90%
                          </td>
                        </tr>
                        <tr>
                          <td class="py-1">
                            202111070403
                          </td>
                          <td>
                            学生3
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td>
                            60
                          </td>
                          <td>
                            60%
                          </td>
                        </tr>
                        <tr>
                          <td class="py-1">
                            202111070404
                          </td>
                          <td>
                            学生4
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-primary" role="progressbar" style="width: 87%" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td>
                            87
                          </td>
                          <td>
                            87%
                          </td>
                        </tr>
                        <tr>
                          <td class="py-1">
                            202111070405
                          </td>
                          <td>
                            学生5
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td>
                            70
                          </td>
                          <td>
                            75%
                          </td>
                        </tr>
                        <tr>
                          <td class="py-1">
                            202111070406
                          </td>
                          <td>
                            学生6
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-info" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td>
                            98
                          </td>
                          <td>
                            98%
                          </td>
                        </tr>
                        <tr>
                          <td class="py-1">
                            202111070407
                          </td>
                          <td>
                            学生7
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td>
                            50
                          </td>
                          <td>
                            50%
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>



          </div>

          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright &copy; 2023.Shandong University of Science and Technology All rights reserved.<a target="_blank"></a>

              </span>

            </div>
          </footer>

        </div>
      </div>
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="static/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    scrip
    <script src="static/js/off-canvas.js"></script>
    <script src="static/js/hoverable-collapse.js"></script>
    <script src="static/js/template.js"></script>
    <script src="static/js/settings.js"></script>
    <script src="static/js/todolist.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="static/js/progressbar.min.js"></script>
    <script src="static/js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="static/js/dashboard.js"></script>
    <!-- End custom js for this page-->
  </body>
</html>